@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

.custom-styles .excalidraw {
  --color-primary: #fcc6d9;
  --color-primary-darker: #282727;
  --color-primary-darkest: #e64980;
  --color-primary-light: #f2a9c4;
}

.custom-styles .excalidraw.theme--dark {
  --color-primary: #d494aa;
  --color-primary-darker: #d64c7e;
  --color-primary-darkest: #e86e99;
  --color-primary-light: #dcbec9;
}

.head {
  font-family: "Gloria Hallelujah", cursive;
  font-weight: 400;
  font-style: normal;
}

.qwe {
  font-family: "Gloria Hallelujah", cursive;
  font-weight: 400;
  font-style: normal;
  background: #ffffff83;
}

body {
  overflow-x: hidden;
}